node_modules
npm-debug.log
.next
.git
.gitignore
README.md
public/
.env
.env.local
.env.example
coverage/
.pytest_cache
__pycache__
*.md
.dockerignore
.github/
.vscode/
.idea/
.DS_Store
firebase-debug.log
